
.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #000;
  }


.row {
    display: flex;
    flex-direction: row;
  
    background-color: #d3d3d3;
    
    align-content: center;
    flex: 1;
    
    
   }

.cell {
  flex: 1;
  background-color: grey;
  
}

h1,h3{
  text-align: center;
  
}

h3{
  font-style: italic;

}

.content{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

button{
  margin: 3px;
  background-color: rgba(233, 235, 168, 0.986);
  padding: 5px;
  border: 1px solid black;
  border-radius: 1px;

}

.dangerBtn{
  background-color: red;
  
}

label{
  font-weight: bold;
}